<!DOCTYPE html>
<html lang="fr" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Titillium+Web:wght@900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Magic Fly</title>
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <nav>
        <ul class="lato-light">
          <li><a href="/">Présentation</a></li>
          <li><a href="/about">Vidéos</a></li>
          <li><a href="/contact">Photos</a></li>
          <li><a href="/login">Contacts</a></li>
        </ul>
      </nav>
      <h1>
        <p class="titillium-web-black title-name txt-uppercase">Magic Fly</p>
        <p class="lato-thin title-activity txt-uppercase">Musique Live</p>
      </h1>
      <img class="header-arrow-down arrow-animation" src="/assets/svg/arrow-down-circle.svg" />
    </header>
  </body>
</html>
