<!DOCTYPE html>
<html lang="fr" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Titillium+Web:wght@900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Magic Fly</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <nav>
        <ul class="lato-light">
          <li><a href="#presentation">Présentation</a></li>
          <li><a href="#youtube">Vidéos</a></li>
          <li><a href="#pictures">Photos</a></li>
          <li><a href="#contacts">Contacts</a></li>
        </ul>
      </nav>
      <div class="header-title">
        <h1 class="titillium-web-black title-name txt-uppercase">Magic Fly</h1>
        <p class="lato-thin title-activity txt-uppercase">Musique Live</p>
      </div>
      <img class="header-arrow-down arrow-animation" src="/assets/svg/arrow-down-circle.svg" />
    </header>

    <!-- PRESENTATION -->
    <section id="presentation" class="grid presentation-section padding-section">
      <img class="presentation-picture" src="/assets/images/presentation.jpg" alt="photo de présentation" />
      <p class="presentation-text">
        <span
          ><b>Magic Fly</b> est un groupe de reprises musicales basé dans le Grand Est, à proximité du Luxembourg et de
          la Belgique. Depuis plusieurs années, nous interprétons en live les grands classiques de la chanson française
          et internationale, des années 70, 80, 90 jusqu’aux hits actuels. Spécialisés dans l’animation musicale
          d’événements, nous proposons un répertoire varié et dansant, idéal pour les soirées privées, anniversaires,
          soirées d’entreprise, événements associatifs ou fêtes locales. Notre objectif : créer une ambiance conviviale
          et festive à travers des prestations musicales de qualité, adaptées à votre public et à vos envies.</span
        >
      </p>
    </section>

    <!-- YOUTUBE SECTION -->
    <section id="youtube" class="youtube-section">
      <section class="youtube-players padding-section">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/Tu3oyUYv3Mg?si=DZoTx877z6h5TC0m"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/Tu3oyUYv3Mg?si=DZoTx877z6h5TC0m"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/Tu3oyUYv3Mg?si=DZoTx877z6h5TC0m"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </section>

      <section class="padding-section">
        <hr />
      </section>

      <!-- SECTION PHOTO -->
      <section id="pictures" class="padding-section">
        <% if (imageLinks && imageLinks.length > 0) { %> <% imageLinks.forEach(image => { %>
        <img src="<%= image.url %>" alt="<%= image.name %>" />
        <% }) %> <% } %>
      </section>
    </section>

    <footer class="padding-section" id="contacts">
      <div class="contact-information-container">
        <p class="contact-information">📞 06 81 08 20 64</p>
        <p class="contact-information">✉️ groupemagicfly@gmail.com</p>
      </div>
      <form action="/send-email-contact" method="post">
        <label>
          Nom / Prénom
          <input name="fullName" placeholder="Jean Dupont" autocomplete="given-name" required />
        </label>
        <fieldset class="grid">
          <label>
            Email
            <input type="email" name="email" placeholder="jean-dupont@mail.com" autocomplete="email" required />
          </label>
          <label>
            Téléphone
            <input type="number" name="phone" placeholder="06 01 02 03 04" autocomplete="email" required />
          </label>
        </fieldset>
        <label>
          Objet
          <select name="subject" required>
            <option value="" disabled selected>Choisissez un objet</option>
            <option value="Demande de devis">Demande de devis</option>
            <option value="Demande d'informations">Demande d'informations</option>
            <option value="Autre">Autre</option>
          </select>
        </label>
        <label>
          Message
          <textarea name="message" placeholder="Votre message" rows="5" required></textarea>
        </label>

        <input type="submit" value="Envoyer" />
      </form>
    </footer>
  </body>
</html>
